/* .movie-overlay::after{
    content: '';
    background: url(../images/movie-header-overlay.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.cs-container {
    position: relative;
    height: 500px;
    color: white;
}



.cs-style {
    background: linear-gradient(13deg, #ec2938 0%, #e6017c 99%);
    color: #ffffff;
    border-radius: 15px;
    padding: 25px;
}
.input{
    position: relative;
    max-width: 300px;
    width: 100%;
    text-align: start;
    line-height: 3;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20px;
    border-bottom: 4px solid;
    width: 100%;
    border-radius: 3px;
}
.modal-body{
    text-align: start;
    list-style: none;
}
.modal-body li{
    border-bottom: 1px solid;
    padding: 10px;
    cursor: pointer;
}
.modal-dialog {
    max-width: 375px;
    top: 35%;
}
.cs-btn{
    line-height: 2.5;
    max-width: 250px;
    width: 100%;
    height: 45px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.cs-btn.first-btn:hover{
    color: #ffffff;
    background: linear-gradient(13deg, #ec2938 0%, #e6017c 99%);
    border: 2px solid #e6007e;
}

.cs-btn:hover {
    color: #000;
    background-color: #ffffff;
    border: 2px solid #ffffff;

}
