.card-body{
    position: absolute;
    top: 50%;
    gap: 10px;
    width: 93%;
    display: none;
}
.card:hover .card-body{
    display: flex;
    flex-direction: column;
}
.card:hover{
    background-image: url(../../images/bg-movie-roll-over.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card:hover img{
    opacity: 0.2;
}
.card img{
    width: 100%;
}
.multiCarousel .slick-slide{
    margin: 0 15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #e6007e;
}
.nav-link{
    color: #000;
}